body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    width: 300px;
    transition: all 300ms linear;
}
.card:hover{
   box-shadow: 0px 0px 20px 10px #B6B6B640;
   transform: scale(1.03);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 24px;
    margin: 0 0 10px;
}

.card-description {
    font-size: 16px;
    color: #555;
    margin: 0 0 20px;
}

.card-button {
    display: inline-block;
    padding: 10px 15px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: greenyellow;
    color: black;
}